FIREBACE_PROJECT_ID=my-project

AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY=accesskey
AWS_SECRET_KEY=secretkey
S3_ENDPOINT=https://s3-ap-northeast-1.amazonaws.com
S3_BUCKET_NAME=qoodish-test

SUBSTITUTE_URL=https://s3-ap-northeast-1.amazonaws.com/qoodish/substitute.png

GITHUB_API_ENDPOINT=https://api.github.com

GOOGLE_API_KEY_SERVER=apikey
